In [716]:
import pandas as pd
import os

In [717]:
df1 = pd.read_csv(r"C:\Users\ericp\OneDrive\Documents\GitHub\project-4\BLSdata\HarveyData\Aransas2015-2018.csv")

In [718]:
df2 = pd.read_csv(r"C:\Users\ericp\OneDrive\Documents\GitHub\project-4\BLSdata\HarveyData\Bay2016-2018.csv")

In [719]:
df3 = pd.read_csv(r"C:\Users\ericp\OneDrive\Documents\GitHub\project-4\BLSdata\HarveyData\Calhoun2015-2018.csv" )

In [720]:
df4 = pd.read_csv(r"C:\Users\ericp\OneDrive\Documents\GitHub\project-4\BLSdata\HarveyData\Galveston2015-2018.csv"  )

In [721]:
df5 = pd.read_csv(r"C:\Users\ericp\OneDrive\Documents\GitHub\project-4\BLSdata\HarveyData\Harris2015-2018.csv"  )

In [722]:
df6 = pd.read_csv(r"C:\Users\ericp\OneDrive\Documents\GitHub\project-4\BLSdata\HarveyData\Jefferson2015-2018.csv" )

In [723]:
df7 = pd.read_csv(r"C:\Users\ericp\OneDrive\Documents\GitHub\project-4\BLSdata\HarveyData\Matagorda2015-2018.csv" )

In [724]:
df8= pd.read_csv(r"C:\Users\ericp\OneDrive\Documents\GitHub\project-4\BLSdata\HarveyData\Orange2015-2018.csv" )

In [725]:
df9 = pd.read_csv(r"C:\Users\ericp\OneDrive\Documents\GitHub\project-4\BLSdata\KatrinaData\Terrebonne2003-2006.csv"  )

In [726]:
df10 = pd.read_csv(r"C:\Users\ericp\OneDrive\Documents\GitHub\project-4\BLSdata\KatrinaData\Washington2003-2006.csv"  )

In [727]:
for x in range(1,9):
    print("df"+str(x)+",")

df1,
df2,
df3,
df4,
df5,
df6,
df7,
df8,

In [728]:
dflist = [
df1,
df2,
df3,
df4,
df5,
df6,
df7,
df8
]

In [729]:
subjectlist= [x for x in df1.columns[2::3]]

In [730]:
for x in dflist:
    x.fillna(int(0), inplace=True)

In [731]:
natural_resources_mining_all_employees = []
construction_all_employees= []
manufacturing_all_employees= []
trade_transportation_utilities_all_employees= []
information_all_employees= []
financial_activities_all_employees= []
professional_business_services_all_employees= []
education_health_services_all_employees= []
leisure_hospitality_all_employees= []
other_services_all_employees= []
total_industries_aggr_value= []

In [732]:
for df in dflist:
    natural_resources_mining_all_employees.append(df[subjectlist[0]]) 
    construction_all_employees.append(df[subjectlist[1]])
    manufacturing_all_employees.append(df[subjectlist[2]])
    trade_transportation_utilities_all_employees.append(df[subjectlist[3]])
    information_all_employees.append(df[subjectlist[4]])
    financial_activities_all_employees.append(df[subjectlist[5]])
    professional_business_services_all_employees.append(df[subjectlist[6]])
    education_health_services_all_employees.append(df[subjectlist[7]])
    leisure_hospitality_all_employees.append(df[subjectlist[8]])
    other_services_all_employees.append(df[subjectlist[9]])
    total_industries_aggr_value.append(df[subjectlist[10]])

In [733]:
natural_resources_mining_all_employees = pd.DataFrame(natural_resources_mining_all_employees).T
natural_resources_mining_all_employees['total'] = natural_resources_mining_all_employees.sum(axis=1)
natural_resources_mining_all_employees = natural_resources_mining_all_employees['total']
natural_resources_mining_all_employees.index = df1.date
natural_resources_mining_all_employees
natural_resources_mining_all_employees.to_csv('natural_resources_mining_all_employees.csv')

In [734]:
construction_all_employees = pd.DataFrame(construction_all_employees).T
construction_all_employees['total'] = construction_all_employees.sum(axis=1)
construction_all_employees = construction_all_employees['total']
construction_all_employees.index = df1.date
construction_all_employees
construction_all_employees.to_csv('construction_all_employees.csv')

In [735]:
manufacturing_all_employees = pd.DataFrame(manufacturing_all_employees).T
manufacturing_all_employees['total'] = manufacturing_all_employees.sum(axis=1)
manufacturing_all_employees = manufacturing_all_employees['total']
manufacturing_all_employees.index = df1.date
manufacturing_all_employees
manufacturing_all_employees.to_csv('manufacturing_all_employees.csv')

In [736]:
trade_transportation_utilities_all_employees = pd.DataFrame(trade_transportation_utilities_all_employees).T
trade_transportation_utilities_all_employees['total'] = trade_transportation_utilities_all_employees.sum(axis=1)
trade_transportation_utilities_all_employees = trade_transportation_utilities_all_employees['total']
trade_transportation_utilities_all_employees.index = df1.date
trade_transportation_utilities_all_employees
trade_transportation_utilities_all_employees.to_csv('trade_transportation_utilities_all_employees.csv')

In [737]:
information_all_employees = pd.DataFrame(information_all_employees).T
information_all_employees['total'] = information_all_employees.sum(axis=1)
information_all_employees = information_all_employees['total']
information_all_employees.index = df1.date
information_all_employees
information_all_employees.to_csv('information_all_employees.csv')

In [738]:
financial_activities_all_employees = pd.DataFrame(financial_activities_all_employees).T
financial_activities_all_employees['total'] = financial_activities_all_employees.sum(axis=1)
financial_activities_all_employees = financial_activities_all_employees['total']
financial_activities_all_employees.index = df1.date
financial_activities_all_employees
financial_activities_all_employees.to_csv('financial_activities_all_employees.csv')

In [739]:
professional_business_services_all_employees = pd.DataFrame(professional_business_services_all_employees).T
professional_business_services_all_employees['total'] = professional_business_services_all_employees.sum(axis=1)
professional_business_services_all_employees = professional_business_services_all_employees['total']
professional_business_services_all_employees.index = df1.date
professional_business_services_all_employees
professional_business_services_all_employees.to_csv('professional_business_services_all_employees.csv')

In [740]:
education_health_services_all_employees = pd.DataFrame(education_health_services_all_employees).T
education_health_services_all_employees['total'] = education_health_services_all_employees.sum(axis=1)
education_health_services_all_employees = education_health_services_all_employees['total']
education_health_services_all_employees.index = df1.date
education_health_services_all_employees
education_health_services_all_employees.to_csv('education_health_services_all_employees.csv')

In [741]:
leisure_hospitality_all_employees = pd.DataFrame(leisure_hospitality_all_employees).T
leisure_hospitality_all_employees['total'] = leisure_hospitality_all_employees.sum(axis=1)
leisure_hospitality_all_employees = leisure_hospitality_all_employees['total']
leisure_hospitality_all_employees.index = df1.date
leisure_hospitality_all_employees
leisure_hospitality_all_employees.to_csv('leisure_hospitality_all_employees.csv')

In [742]:
other_services_all_employees = pd.DataFrame(other_services_all_employees).T
other_services_all_employees['total'] = other_services_all_employees.sum(axis=1)
other_services_all_employees = other_services_all_employees['total']
other_services_all_employees.index = df1.date
other_services_all_employees
other_services_all_employees.to_csv('other_services_all_employees.csv')